@import '/node_modules/normalize-scss/sass/normalize';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/title';

@import 'components/header';
@import 'components/footer';
@import 'components/menu';
@import 'components/buttons';
@import 'components/paginations';
@import 'components/timer';
@import 'pages/main/promo';
@import 'pages/main/advantages';
@import 'pages/main/team';
@import 'pages/textbook/textbook';
@import 'pages/games/games';
@import 'pages/games/sprint';
@import 'pages/games/results';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(.fas) {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  margin: 25px auto 0;
  background-color: $main-color;
}

.toast-container {
  z-index: 10000;
}

#main {
  min-height: 100vh;
}
