.footer {
  min-height: 90px;
  padding: 25px 0;
  margin-top: 20px;
  border-top: 1px solid rgba(0 0 0 / 12.5%);

  &__info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: $main-color;
    @media only screen and (max-width: 528px) {
      font-size: 12px;
    }
  }

  &__githubs {
    display: flex;
    gap: 40px;
    @media only screen and (max-width: 528px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__git {
    color: $main-color;

    &:hover {
      text-decoration: none;
    }
  }

  &__rs {
    img {
      width: 60px;
    }
  }

  &__year {
    color: #000000;
  }
}
