.group-pagination {
  display: flex;
  gap: 10px;
  align-items: center;

  &__title {
    margin-bottom: 0;
    color: $main-color;
  }

  &__items {
    margin-bottom: 0;
    cursor: pointer;

    .page-item.active {
      a {
        background-color: $blue-300;
      }
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;

  .current-page {
    color: $main-color;
  }
}
